doctype html
html
  head
    title Parchment Demo
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(charset='utf-8')

  body
    #content-container
      p One
      p Two

    script(type='text/javascript', src='../dist/parchment.js')
    script(type='text/javascript', src='formats/bold.js')
    script(type='text/javascript', src='formats/italic.js')
    script(type='text/javascript', src='formats/link.js')
    script(type='text/javascript', src='formats/image.js')
    script(type='text/javascript').
      var container = document.querySelector('#content-container');
      container.innerHTML = container.innerHTML.replace(/\s+/g, '');
      var parchment = new Parchment(container);
